# common ignored files
.DS_Store
*.pyc
__pycache__/
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# customized ignored files
/*.py
PyPRS/build/
PyPRS/rule/__pycache__/
PyPRS/buffer/
TestCase/
backup/
output/
.idea/